*{margin: 0;padding: 0;list-style: none;font-family: 'Yanone Kaffeesatz', sans-serif;color: #fff;}
        #scroll_top{position:fixed;right:40px;bottom:40px;width:36px;cursor: pointer;z-index: 9999999;}
        body::-webkit-scrollbar{width:6px;;}
        body::-webkit-scrollbar-thumb {width: 6px;background-color:#fff; border-radius:3px;}
        body::-webkit-scrollbar-track {background-color:midnightblue;}
        body,html{width:100%;height:10200px;}
        a{text-decoration: underline;color: inherit;}
        #bg1{width: 100%;height:10200px;background: url(../images/bg.jpg)top center no-repeat;background-size: cover;position: absolute;left: 0;top:0;}
        #bg2{width: 100%;height: 1000px;background: url(../images/bg_1.png)top center no-repeat;position: absolute;left:-10px;top:268px;z-index: 999;}
        #main{width: 100%;height: 1000px;margin: auto;position: relative;overflow: hidden;}
        #main_img{position: absolute;left:50%;margin-left: -960px;top: 5px;z-index: 99998;width: auto;display: inline;}
        header{width: 100%;height:80px;position: absolute;left: 0;top: 0;z-index: 99999;}
        #logo{float: left;line-height: 80px;margin-left: 30px;}
        #logo>img{width: 140px;vertical-align: middle;}
        #cloud1{position: absolute;right: -800px;top: 0;width:300px;}
        #cloud2{position: absolute;right:-500px;top:20vw;width:500px;z-index: 9999;}
        #cloud3{position: absolute;right: -700px;top:100px;width: 700px;}
        #cloud4{position: absolute;top:-80px;right:-400px;width: 400px;}
        #cloud5{position: absolute;right: -600px;top: -30px;width:600px;}
        #menu_box{float: right;margin-right: 30px;cursor: pointer;overflow: hidden;margin-top: 30px;}
        #menu_box>img{width: 34px;height:34px;}
        .menu_open_box{width:400px;height:100%;background-color:rgba(0,0,0,0.5);position:fixed;z-index: 9999999;right:0;top: 0;display: none;}
        #close_bt{width: 34px;float: right;margin-right: 30px;margin-top: 30px;cursor: pointer;}
        #menu_list{margin-top:200px;}
        #menu_list>li{width: 100%;height:80px;text-align: center;font-weight: 900;color:transparent;line-height: 80px;font-size:40px;letter-spacing:2px;-webkit-text-stroke-width:1px;-webkit-text-stroke-color:#fff;cursor: pointer;transition: 0.3s;}
        #menu_list>li:hover{color: #fff;font-size: 50px;}
        #menu_list>li:nth-child(1):hover{background:url(../images/menu_hover1.jpg)center no-repeat;background-size: cover;}
        #menu_list>li:nth-child(2):hover{background:url(../images/menu_hover2.jpg)center no-repeat;background-size: cover;}
        #menu_list>li:nth-child(3):hover{background:url(../images/menu_hover3.jpg)center no-repeat;background-size: cover;}
        #menu_list>li:nth-child(4):hover{background:url(../images/menu_hover4.jpg)center no-repeat;background-size: cover;}
        #menu_list>li:nth-child(5):hover{background:url(../images/menu_hover5.jpg)center no-repeat;background-size: cover;}
        #menu_list>li:nth-child(6):hover{background:url(../images/menu_hover6.jpg)center no-repeat;background-size: cover;}
        #menu_list>li:nth-child(7):hover{background:url(../images/menu_hover7.jpg)center no-repeat;background-size: cover;}
        
        #text_box{width:600px;margin: auto;position: relative;z-index: 999999;}
        #main_text1{font-size: 70px;text-shadow:2px 2px 3px #555;text-align: center;margin-top:200px;opacity: 0;transition: 0.5s;}
        #main_text2{margin: auto;margin-top: 100px;margin-left:40px;opacity: 0;font-family: 'Ubuntu', sans-serif;letter-spacing: -1px;line-height:26px;}
        #scroll{position: absolute;left: 0;right: 0;bottom:120px;margin: auto;width: 100px;height: 130px;z-index: 99999;overflow: hidden;}
        #scroll_img{width: 100%;text-align: center;}
        #scroll_arrow{position: absolute;left: 0;right: 0;margin: auto;width:32px;bottom:30px;}
        
        /*  */
        #wrap{width: 100%;position: absolute;top:1140px;left: 0;z-index: 99999;}
        #sea_1{width: 100%;height:1000px;overflow: hidden;text-align: center;}
        #sea_title{text-align: center;font-size:80px;margin-top: 300px;opacity:0;text-shadow:3px 3px 5px rgba(255,255,255,0.6);}
        #sea_1>ul{width:800px;margin: auto;margin-top:100px;display: inline-block;opacity: 0;}
        #sea_1>ul>li{display: inline-block;cursor: pointer;width:160px;border-radius: 160px;margin: 20px 36px 20px 0;position: relative;overflow: hidden;}
        #sea_1>ul>li:nth-child(4n){margin-right: 0;}
        #sea_1>ul>li>img{width: 100%;}
        #sea_1>ul>li>.star{position: absolute;left: 0;top: 0;height: 100%;opacity: 0.5;}
        .sea_1_hover{position: absolute;left: 0;top:20px;}
        .sea_1_hover>img{width:150px;opacity: 0.1;}
        #sea_1_box{width:600px;height:370px;vertical-align:bottom;display:none;position: relative;}
        #sea_1_textbox{width: 600px;height: 370px;padding:10px;box-sizing: border-box;}
        #sea_1_close_bt{width: 36px;position: absolute;right:-20px;top: -10px;cursor: pointer;}
        .sea_1_text{font-size: 18px;text-align: left;}
        .sea_1_text>h4{font-size: 24px;margin-top:10px;}
        .sea_1_text>p{font-size: 16px;margin-top:18px;line-height:22px;font-family: 'Ubuntu', sans-serif;}
        #sea_1_textbox>li>.sea_1_text{display: none;}
        /*  */



        #sea_2{width: 100%;height: 1000px;position: relative;overflow: hidden;}
        #sea_2_textbox{width:1000px;height:600px;margin-left:320px;margin-top:200px;position: relative;border: 1px solid #aaa;padding: 140px;box-sizing: border-box;}
        #sea_2_textbox>h3{font-size:44px;margin-top: 40px;}
        #sea_2_textbox>h4{font-size: 30px;margin-top: 50px;font-weight: 400;}
        #sea_2_textbox>p{font-size: 18px;width:460px;margin-top: 50px;color: #aaa;font-family: 'Ubuntu', sans-serif;}
        #turtle_video1{width:460px;position: absolute;left:-600px;top:500px;opacity: 0;}
        #turtle1_img{width: 800px;position: absolute;right:-1600px;top:160px;opacity: 0;}
        #sea_3{width: 100%;height: 1000px;overflow: hidden;}
        #sea_3_textbox{width: 1200px;height: 700px;border: 1px solid #aaa;margin-top:240px;margin-left:500px;box-sizing: border-box;padding: 140px 0 0 600px;position: relative;}
        #sea_3_textbox>h3{font-size:44px;margin-top: 40px;}
        #sea_3_textbox>h4{font-size: 30px;margin-top: 50px;font-weight: 400;}
        #sea_3_textbox>p{font-size:18px;width:460px;margin-top: 50px;color: #aaa;font-family: 'Ubuntu', sans-serif;}
        #sea_3_1{width:1000px;position: absolute;left: -900px;top:-80px;box-shadow:30px 30px 100px -60px #fff;opacity: 0;}
        #sea_3_2{width:800px;position: absolute;left: -400px;top: 700px;box-shadow:30px 30px 100px -60px #fff;opacity: 0;}
        /*  */



        #sea_4{width: 100%;height: 1000px;position: relative;}
        #sea_4_left_box{width:500px;height: 800px;float: left;margin-top: 150px;margin-left: 300px;}
        #sea_4_left_box>h2{font-size:60px;margin-top:30px;line-height: 80px;}
        #sea_4_left_box>h2>span{font-size: 80px;}
        #sea_4_left_box>h4{margin-top:120px;font-size:40px;font-weight: 400;margin-left:80px;font-family: 'Ubuntu', sans-serif;}
        #sea_4_left_box>ul{margin-left: 80px;margin-top:100px;}
        #sea_4_left_box>ul>li{float: left;margin-right:30px;cursor: pointer;}
        #sea_4_right_box{width: 1000px;height: 800px;float: right;margin-top: 150px;overflow: hidden;position: relative;}
        #sea_4_slide{width: 4100px;position: absolute;}
        #sea_4_slide>li{width:600px;height: 800px;background-color: green;margin-right:100px;display: inline-block;overflow: hidden;}
        #sea_4_slide>li:last-child{margin-right: 0;}
        #sea_4_slide>li>img{transition: 0.5s;}
        #sea_4_slide>li:hover>img{transform:scale(1.1);}
        /*  */


        #sea_5{width: 100%;height: 1000px;overflow: hidden;}
        #sea_5_title{width: 100%;text-align: center;font-size: 80px;margin-top:200px;text-shadow:3px 3px 5px rgba(255,255,255,0.6);opacity: 0;}
        #sea_5_box{width: 1400px;height: 700px;margin: auto;margin-top: 30px;background-color:rgba(255,255,255,0.6  );border-radius: 20px;overflow: hidden;opacity: 0;}
        #sea_5_box>li{width: 1000px;height:100px;border-bottom: 1px solid #ddd;margin: auto;box-sizing: border-box;position: relative;}
        #sea_5_box>li:nth-child(1){border: none;width: 1400px;height: 400px;border-radius: 20px;}
        #sea_5_box>li>.sea_5_textbox{width:870px;height: 400px;background:linear-gradient(to right, #0c1036 80%,transparent); position: absolute;left:0;top:0;z-index: 99999;padding:70px;box-sizing: border-box;display: none;}
        #sea_5_box>li:nth-child(1)>.sea_5_bt{display: none;}
        #sea_5_box>li:nth-child(1)>h2{display: none;}
        #sea_5_box>li:nth-child(4){border-bottom: none;}
        .sea_5_bt{position: absolute;right: -100px;top: 0;bottom: 0;margin: auto;width:14px;z-index: 99999;cursor: pointer;}
        #sea_5_box>li>video{float: right;width: 800px;height: 400px;margin-right: -50px;display: none;}
        #sea_5_box>li:nth-child(1)>video{display: block;}
        #sea_5_box>li:nth-child(1)>.sea_5_textbox{display: block;}
        .sea_5_textbox>h3{font-size: 36px;}
        .sea_5_textbox>h4{margin-top: 30px;margin-bottom: 30px;font-size:18px;font-weight: 400;font-family: 'Ubuntu', sans-serif;}
        .sea_5_textbox>p{line-height: 30px;font-family: 'Ubuntu', sans-serif;font-size: 12px;}
        .sea_5_textbox>p>span{display:inline-block;width: 80px;font-weight: 900;margin-right:20px;font-family: 'Ubuntu', sans-serif;}
        #sea_5_box>li>.sea_5_textbox>p:last-child>span{height: 100px;float: left;}
        #sea_5_box>li>h2{text-align: center;letter-spacing: 2px;font-size: 40px;line-height: 100px;}
        /*  */


        #sea_6{width: 100%;height: 1000px;overflow: hidden;position: relative;}
        #sea_6_earth{width:880px;height:810px;margin: auto;margin-top: 130px;background: url(../images/earth1.png)center no-repeat;background-size: cover;position: relative;opacity: 0;}
        #earth2{position: absolute;left:150px;top:480px;width:20px;transform:scale(1);opacity: 0;}
        #earth3{position: absolute;left: 126px;top: 352px;width:130px;}
        #sea_6_1{position: absolute;}
        #sea_6_2{position: absolute;right: 50px;bottom:100px;}
        #sea_6_3{position: absolute;}
        #sea_6_4{position: absolute;top: 0;bottom: 0;margin: auto;left: 300px;}
        #sea_6_5{position: absolute;left:200px;top:160px;width: 260px;}
        #sea_6_6{position: absolute;left:1600px;width: 160px;top: 600px;transform:rotate(90deg);}
        /*  */

        #sea_7{width: 100%;height: 1000px;background: url(../images/sea_7_bg.png)center no-repeat;background-size: cover;}
        #sea_7_left{width: 800px;height: 1000px;float: left;position: relative;}
        #sea_7_leftimg1{transform:rotate(-15deg);position: absolute;left: 0;top: 80px;z-index: 999;opacity: 0;}
        #sea_7_leftimg2{transform:rotate(10deg);position: absolute;left:300px;top:120px;z-index: 99;opacity: 0;}
        #sea_7_leftimg3{transform:rotate(-10deg);position: absolute;left:500px;top:100px;z-index: 9;opacity: 0;}
        #sea_7_right{width: 1100px;height: 1000px;float: right;position: relative;text-align: center;}
        #stop{position: absolute;left: 0;right: 0;margin: auto;top:100px;width: 300px;border-radius: 300px;box-shadow:20px 20px 100px -20px #000;}
        #hand{position: absolute;left: 0;right: 0;margin: auto;top:60px;width:400px;opacity: 0.8;}
        #sea_7_right>h2{position: absolute;left: 0;right: 0;top:500px;font-size:80px;opacity: 0;}
        #sea_7_right>h2>span{font-size:200px;}



        /*  */
        #sea_8{width: 100%;height: 1000px;overflow: hidden;}
        #sea_8_videobox{position: relative;}
        #sea_8_videobox>video{width: 100%;opacity: 0.4;}
        #sea_8_text_box{position: absolute;top: 0;bottom: 0;left:200px;top: 400px;font-size:70px;}
        #sea_8_text_box>h3>span{font-size:100px;letter-spacing:10px;}
        #sea_8_text_box>button{background-color:#fff;border: none;width:60px;height: 60px;border-radius: 60px;transition: 0.5s;color: #000;cursor: pointer;font-family: 'Ubuntu', sans-serif;}
        #sea_8_text_box>button:hover{width: 160px;text-align: center;font-size: 24px;}
        /*  */

        
        #sea_9{width: 100%;height:700px;overflow: hidden;}
        #sea_9_box{width: 1200px;height:700px;margin: auto;margin-top:140px;}
        #sea_9_left{float: left;width: 560px;height: 600px;}
        #sea_9_right{float:right;width: 560px;height: 600px;}
        #sea_9_box div h3{width: 100%;height:50px;font-size: 30px;line-height:50px;border-bottom: 2px solid #fff;}
        #sea_9_left>table{width: 100%;height:320px;}
        #sea_9_left>table tr{width: 100%;height:80px;}
        #sea_9_left>table tr th{font-size:22px;font-weight: 500;}
        #sea_9_left>table tr td:nth-child(1){text-align: left;font-size: 22px;padding: 0 0 0 10px;box-sizing: border-box;}
        #sea_9_left>table tr td {text-align: center;}
        #sea_9_left>table tr td:nth-child(2){text-decoration:line-through;}
        #sea_9_right_icon{margin-top:20px;}
        #sea_9_right_icon>li{display: inline-block;margin:0 30px;width: 120px;height: 120px;border-radius: 120px;border: 2px solid #fff;text-align: center;line-height: 120px;}
        #sea_9_right_icon>li>img{width:60px;vertical-align: middle;}
        #sea_9_text{margin-top: 32px;}
        #sea_9_text>li{margin-bottom:30px;font-size:16px;font-family: 'Ubuntu', sans-serif;}
        footer{width: 1200px;height:360px;border-top: 2px solid #fff;margin: auto;box-sizing: border-box;}
        footer>ul{width: 100%;height: 100%;}
        footer>ul>li{width: 33.333%;margin-top:40px;float: left;}
        #footer_iconbox{width:90%;padding-left: 20%;box-sizing: border-box; height: 50px;line-height: 50px;}
        #footer_iconbox>li{float: left;margin-right:14px;cursor: pointer;}
        #footer_iconbox>li>img{width:24px;vertical-align:middle;}
        footer>ul>li:nth-child(2){padding: 0 120px;box-sizing: border-box;}
        footer>ul>li:nth-child(2)>h5{margin-top: 10px;font-size:14px;font-family: 'Castoro', serif;}
        footer>ul>li:nth-child(2)>ul{margin-top: 20px;}
        footer>ul>li:nth-child(2)>ul>li{margin-bottom:10px;font-weight:300;cursor: pointer;font-family: 'Castoro', serif;font-size: 11px;}
        footer>ul>li:nth-child(3)>h5{font-weight: 300;margin-top: 10px;font-size: 11px;font-family: 'Castoro', serif;}
        footer>ul>li:nth-child(3)>p{font-weight: 300;margin-top: 20px;font-size: 11px;font-family: 'Castoro', serif;}
        footer>ul>li:nth-child(3)>ul{margin-top: 30px;}
        footer>ul>li:nth-child(3)>ul>li{float: left;font-weight: 300;font-size: 13px;margin-right: 30px;text-decoration: underline;cursor: pointer;font-family: 'Castoro', serif;}